// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.pagination {
    display: block;
    margin: auto; 
    width: 66.66%;
    font-size: 1.5em;
    text-align: center;
}